<div class="container">
  <div class="section index-services">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <a href="#">
              <i class="material-icons waves-effect waves-light">camera</i>
            </a>
          </h2>
          <h5>Aerial photography</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <a href="#">
              <i class="material-icons waves-effect waves-light">videocam</i>
            </a>
          </h2>
          <h5>Aerial videography</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center">
            <a href="#">
              <i class="material-icons waves-effect waves-light">theaters</i>
            </a>
          </h2>
          <h5>Video editing</h5>
          <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips.</p>
        </div>
      </div>
    </div>
  </div>
</div>

