<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot service-banner">
    <div class="valign">
      <h1 class="header center teal-text text-lighten-2">Sublimation Printing</h1>
      <h5 class="white-text">We use sublimation printing for tshirts</h5>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag "background1.jpg" %>
  </div>
</div>

<div class="section">
  <div class="row service-text">
    <div class="container">
      <div class="col s12">
        <h2>Sublimation printing</h2>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips.</p>
        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vulputate non nibh et imperdiet. Pellentesque gravida massa fringilla dolor facilisis mollis. Proin sed tortor sit amet dui euismod blandit vitae ac risus. Vivamus in velit justo. Cras sit amet ipsum tempor, blandit velit a, luctus ips.</p>
      </div>
    </div>
  </div>
</div>
